<html>
    <head>
        <title>Blog App</title>
    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheet/app.css">
    <body>
        <div class="ui inverted menu">
            <div class="container">
                <div class="header item"> <i class="code icon"></i>Blog App </div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>